        body{
            margin:0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        header,
        main,
        footer {
            display: inline-block;
            width:1000px;
            margin-left: calc(50% - 500px);
            margin-bottom:30px;
        }

        header{ 
        margin-top: 40px;
        }

        header > img {
            width: 100px;
            height: 40px;
            object-fit: contain;
            object-position: left;
            float: left;
        }

        nav {
            margin-top: 10px;
            float:right;
        }

        nav > a {
            display: inline-block;
            margin-left: 2em;
            color: #000;
            font-size: 20px;
            line-height: 1em;
            text-decoration: none;
            

        }
        
        nav > a:first-child{
            margin-left: 0;
        }

        nav > a:hover{
            text-decoration: underline;
        }

        div{
            width: 40%;
            float:left;

        }
        h1{
            font-size: 50px;
            color: #222222;
            font-weight: normal;

        }
        h1 > span {
            display: block;
            font-weight: bold;
        }

        p{
            font-size: 20px;

        }

        div > a{
            float: left;
            padding: 0.9em;
            padding-left: 2em;
            padding-right: 2em;
            margin-right: 1em;
            margin-bottom: 1em;
            background-color: #662C86;
            color: #fff;
            font-size: 16px;
            line-height: 1.3em;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 999em;  /*  1.55em tiksli reiksme  */
            border: 0.15em solid #662C86;;
           
            

        }

        div > a:nth-child(4){
            background-color: #fff;
            color: #662C86;
            
    
        }

        div > a:hover{
            box-shadow: 3px  4px 10px 0px rgba(0, 0, 0, 0.2);
        }

       main > img{
            width: 55%;
            float:right;

        }